<!-- <footer class="bg-dark py-3">
  <div class="d-flex text-white" >
      <div class="ml-3 flex-fill text-left align-self-center">© Морской Космический Флот 2008-2019</div>
      <div class="flex-fill text-right mr-3 text-muted">Made by <a href="#">Elon Musk</a></div>
  </div>
</footer> -->
<div class="ml-3 flex-fill text-left align-self-center header">© Морской Космический Флот 2008-2019</div>
<div class="content">
  <p>За информацию о котиках спасибо AdMe.ru! Они стояли в топе выдачи по запросу &laquo;Факты о котиках&raquo; =)</p>
</div>
<div class="flex-fill text-right mr-3 text-muted footer">Made by <a href="#">Elon Musk</a></div>