<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Отчество</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Звание</th>
    </tr>
  </thead>
  <tbody *ngFor="let people of ArrofObjects">
    <tr>
      <th scope="row">{{people.id}}</th>
      <td>{{people.first_name}}</td>
      <td>{{people.last_name}}</td>
      <td>{{people.patronymic}}</td>
      <td>{{people.birthday}}</td>
      <td>{{people.voyage}}</td>
    </tr>
  </tbody>
</table>