<div>
  
  <div class="row" style="margin: 0; min-height: calc(100vh - 56px);">
    <div class="col-md-3 bg-secondary pt-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-club-tab" data-toggle="pill" href="#v-pills-club" role="tab" aria-controls="v-pills-club" aria-selected="true">
          РОО «Клуб ветеранов МКФ»</a>

        <a class="nav-link" id="v-pills-delete-news-tab" data-toggle="pill" href="#v-pills-delete-news" role="tab" aria-controls="v-pills-delete-news" aria-selected="false">Удаление новостей</a>

        <a class="nav-link" id="v-pills-albums-tab" data-toggle="pill" href="#v-pills-albums" role="tab" aria-controls="v-pills-albums" aria-selected="false">Просмотр альбомов</a>

        <a class="nav-link" id="v-pills-delete-albums-tab" data-toggle="pill" href="#v-pills-delete-albums" role="tab" aria-controls="v-pills-delete-albums" aria-selected="false">Редактирование альбомов</a>

      </div>
    </div>
    <div class="col-md-9 bg-light p-3">
      <div class="tab-content" id="v-pills-tabContent">
      
        <div class="tab-pane fade show active" id="v-pills-club" role="tabpanel" aria-labelledby="v-pills-club-tab">
          <h4>РОО «Клуб ветеранов МКФ»</h4>
          <p><strong>Уважаемые моряки космического флота!</strong></p>
          <p>Инициативной группой и представителями экспедиций флота <strong>осуществлена юридическая регистрация Клуба ветеранов МКФ</strong>, который получил статус - "Региональной общественной организации «Клуб ветеранов Морского космического флота».</p>
          <p><strong>04 октября 2009 года в  состоялось общее организационное собрание Региональной общественной организации «Клуб ветеранов Морского космического флота» по адресу: г Москва, ул.Щепкина, д. 68.  Это помещение  школы № 235.</strong></p>
          <p>Председатель Совета РОО «Клуб ветеранов МКФ»    Капитанов Анатолий</p>
          <p>E-mail Kлуба: <a href="mailto:kapitanov2006@yandex.ru">kapitanov2006@yandex.ru</a></p>
          <p>Адрес для переписки: "Региональная общественная организации «Клуб ветеранов Морского космического флота» <strong>г Москва, ул.Щепкина, д. 68.  Это помещение  школы № 235.</strong></p>
          <a href="assets/files/0_6733_Ustav_orig_ROO_Klub_veteranov_MKF.doc">Устав - РОО Клуб ветеранов МКФ</a>
          <p>ФЛАГ РОО "КЛУБ ВЕТЕРАНОВ МКФ"</p>
          <img src="assets/img/static/flag.jpg" class="img-thumbnail">
        </div>

        <div class="tab-pane fade" id="v-pills-delete-news" role="tabpanel" aria-labelledby="v-pills-delete-news-tab">    
        </div>

        <div class="tab-pane fade" id="v-pills-albums" role="tabpanel" aria-labelledby="v-pills-albums-tab">
          
        </div>
        
        <div class="tab-pane fade" id="v-pills-delete-albums" role="tabpanel" aria-labelledby="v-pills-delete-albums-tab">

        </div>

      </div>
    </div>
  </div>  

</div>