<div>
  
  <div class="row" style="margin: 0; min-height: calc(100vh - 56px);">
    <div class="col-md-3 bg-secondary pt-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-club-tab" data-toggle="pill" href="#v-pills-club" role="tab" aria-controls="v-pills-club" aria-selected="true">
          РОО «Клуб ветеранов МКФ»</a>

        <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">Свидетельство о регистрации</a>

        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Одесское отделение Клуба ветеранов МКФ</a>

        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Вид платежного поручения на взносы</a>

      </div>
    </div>
    <div class="col-md-9 bg-light p-3">
      <div class="tab-content" id="v-pills-tabContent">
      
        <div class="tab-pane fade show active" id="v-pills-club" role="tabpanel" aria-labelledby="v-pills-club-tab">
          <h4>РОО «Клуб ветеранов МКФ»</h4>
          <p><strong>Уважаемые моряки космического флота!</strong></p>
          <p>Инициативной группой и представителями экспедиций флота <strong>осуществлена юридическая регистрация Клуба ветеранов МКФ</strong>, который получил статус - "Региональной общественной организации «Клуб ветеранов Морского космического флота».</p>
          <p><strong>04 октября 2009 года в  состоялось общее организационное собрание Региональной общественной организации «Клуб ветеранов Морского космического флота» по адресу: г Москва, ул.Щепкина, д. 68.  Это помещение  школы № 235.</strong></p>
          <p>Председатель Совета РОО «Клуб ветеранов МКФ»    Капитанов Анатолий</p>
          <p>E-mail Kлуба: <a href="mailto:kapitanov2006@yandex.ru">kapitanov2006@yandex.ru</a></p>
          <p>Адрес для переписки: "Региональная общественная организации «Клуб ветеранов Морского космического флота» <strong>г Москва, ул.Щепкина, д. 68.  Это помещение  школы № 235.</strong></p>
          <a href="assets/files/0_6733_Ustav_orig_ROO_Klub_veteranov_MKF.doc">Устав - РОО Клуб ветеранов МКФ</a>
          <a href="assets/files/0_2593_Zayavlenie_o_prieme_v_chleni_ROO.doc"><p>Завление о приеме РОО</p></a>
          <p>ФЛАГ РОО "КЛУБ ВЕТЕРАНОВ МКФ"</p>
          <img src="assets/img/static/flag.jpg" class="img-thumbnail">
        </div>

        <div class="tab-pane fade" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab"> 
          <h4>Свидетельство о регистрации</h4>
          <a href="assets/img/static/svidetelstvo.jpg"><img src="assets/img/static/svidetelstvo.jpg" class="img-fluid"></a>
        </div>

        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
          <h4>Одесское отделение Клуба ветеранов МКФ</h4>
          <h5>Коллективный член РОО "МКФ" Одесское отделение ветеранов МКФ</h5>
          <p>11 апреля состоялось общее собрание членов «Клуба ветеранов Морского космического флота». На нем единогласно было принято решение о приёме коллективным членом РОО «Клуба ветеранов МКФ» ветеранов МКФ г.Одессы.</p>
          <p>Поздравляем Одесское отделение с вступлением в качестве коллективного члена вРОО "Клуба ветеранов МКФ"</p>
          <p>Одесским отделением проделана большая работа по сплочению в Клуб ветеранов флота проживающих в Одессе.</p>
          <p>Проводится большая патриотическо-воспитательная  работа с подрастающим поколением.</p>
          <p>В течение года  Совет одесского отделения открыл два памятных исторических уголка об истории Морского космического флота: в музее "Одесские страницы истории космонавтики" на ул.Троицкой, 38 и в средней школе № 78 на ул.Королёва.</p>
          <p>Хочется выразить благодарность Совета РОО Совету одесского отделения за плодотворный труд в деле по сохранению исторической памяти о космическом флоте, за участие в патриотическом воспитании подрастающего поколения, за активную работу со школьниками в школе № 78 на ул.Королёва, г.Одесса.</p>
          <div class="card-columns">
            <div class="card" style="width: 18rem;">
              <a href="assets/img/odessa/1.jpg"><img src="assets/img/odessa/1.jpg" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">Члены Одесского отделения ветеранов МКФ</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <a href="assets/img/odessa/2.jpg"><img src="assets/img/odessa/2.jpg" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">Директор школы и председатель Одесского отделения Клуба ветеранов МКФ Гордеев Б.И. </p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <a href="assets/img/odessa/3.jpg"><img src="assets/img/odessa/3.jpg" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">Выставка Ковылкина В.И о подготовке к полёту на МКС гаг-ца Юрчихина Ф.Н</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <a href="assets/img/odessa/4.jpg"><img src="assets/img/odessa/4.jpg" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">Ветераны МКФ Одесса</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <a href="assets/img/odessa/5.jpg"><img src="assets/img/odessa/5.jpg" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">Вручение удостоверения лектора уголка</p>
              </div>
            </div>
          </div> 

        </div>
        
        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
          <h3>Вид платежного поручения на взносы</h3>
          <a href="assets/files/0_1207_Platezhka_ROO_KVMKF_10.09._2009-1.doc"><p>Платежка РОО КВМКФ 10.09. 2009-1.doc</p></a>
          <h3>Образцы макетов удостоверений членов клуба</h3>
          <p>Вашему вниманинию предлагаются образцы макетов удовстоверений членов РОО (автор Чернов Д.) </p>
          <a href="assets/files/0_1855_card_01.pdf">Образцы макетов удовстоверений</a>
        </div>

        <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">

        </div>

      </div>
    </div>
  </div>  

</div>