<div class="m-3">
  <div>
    <h3 class="display-4">Контакты</h3>
    <h5 class="mx-3">
      <p>Присылайте свои письма и материалы по обсуждаемой теме на адрес: <a href="mailto:qwert505@bk.ru">qwert505@bk.ru</a></p>
      <p>Звоните Председателю Совета РОО «Клуб ветеранов МКФ» Анатолию Капитанову. Тел: <strong>(917) 507-75-11</strong></p>
      <p>E-mail Kлуба: <a href="mailto:kapitanov2006@yandex.ru">kapitanov2006@yandex.ru</a></p>
      <p>По поводу багов на сайте пишите в личку ВК по этой ссылке: <a href="https://vk.com/marsel.garipov" class="link">ТЫРКНУТЬ</a></p>
    </h5>
    <hr>
  </div>

  <div>
    <h4 class="display-4">Электронные адреса ветеранов</h4>
    <div class="mx-3">
      <h5>    
      <p>Аванисян - <a href="mailto:risha@farlep.net">risha@farlep.net</a></p>
      <p>Андреев Виктор - <a href="mailto:Regim-711@yandex.ru">Regim-711@yandex.ru</a></p>
      <p>Андрюшин Сергей Анатольевич КВВ (экспедиция) - <a href="mailto:ser-andryushin@yandex.ru">ser-andryushin@yandex.ru</a></p>
      <p>Анкудинов Михаил - <a href="mailto:ank@vyatalp.kirov.ru">ank@vyatalp.kirov.ru</a></p>
      <p>Балыгин Владимир Михайлович - <a href="mailto:varion@yandex.ru">varion@yandex.ru</a></p>
      <p>Барабанщиков Александр - <a href="mailto:abarab@ukr.net">abarab@ukr.net</a></p>
      <p>Букин Александр - <a href="mailto:aviaflot-m@mail.ru">aviaflot-m@mail.ru</a></p>
      <p>Васильев Виктор - <a href="mailto:7590049@rambler.ru">7590049@rambler.ru</a></p>
      <p>Вишневский Виталий - <a href="mailto:vish_vit@tut.by">vish_vit@tut.by</a></p>
      <p>Волков Владимир А. - <a href="mailto:malakhovka@mtu-net.ru">malakhovka@mtu-net.ru</a></p>
      <p>Иванов Вадим - <a href="mailto:veteran60111@narod.ru">veteran60111@narod.ru</a></p>
      <p>Капитанов Анатолий - <a href="mailto:kapitanov2006@yandex.ru">kapitanov2006@yandex.ru</a></p>
      <p>Карпезо Владимир Романович - <a href="mailto:vlakar@mail.kamchatka.ru">vlakar@mail.kamchatka.ru</a></p>
      <p>Ключников В. - <a href="mailto:sale@techoil.ru">sale@techoil.ru</a></p>
      <p>Кузнецов Вадим - <a href="mailto:flintstone@mail.ru">flintstone@mail.ru </a></p>
      <p>Ляшенко Алексей - <a href="mailto:gfi@ukr.net">gfi@ukr.net</a></p>
      <p>Мелькин Сергей Нурмухамедович - <a href="mailto:mlkn@ukr.net">mlkn@ukr.net</a></p>
      <p>Миняев Андрей Рудольфович - <a href="mailto:аndermin@yandex.ru">аndermin@yandex.ru</a></p>
      <p>Мищенко Игорь Анатольевич - <a href="mailto:musasi.maru@mail.ru">musasi.maru@mail.ru</a></p>
      <p>Мулла Эдуард - <a href="mailto:ned@rol.ru">ned@rol.ru</a></p>
      <p>Овчаренко Александр Иванович - <a href="mailto:alexovchar@mail.ru">alexovchar@mail.ru</a></p>
      <p>Ольчев дмитрий - <a href="mailto:dolchev@rambler.ru">dolchev@rambler.ru</a></p>
      <p>Петрусенко Александр - <a href="mailto:аleks_rnd@userline.ru">аleks_rnd@userline.ru</a></p>
      <p>Петряков (сын Петрякова Олега Ивановича) - <a href="mailto:webmaster@webests.com">webmaster@webests.com</a></p>
      <p>Попсуй Владимир - <a href="mailto:begemot1611@yandex.ru">begemot1611@yandex.ru</a></p>
      <p>Пронин Анатолий Александрович - <a href="mailto:apronin@comcor-tv.ru">apronin@comcor-tv.ru</a></p>
      <p>Смирнов Сергей - <a href="mailto:spil@matrix.odessa.ua">spil@matrix.odessa.ua</a></p>
      <p>Согоконь Виктор Тарасович - <a href="mailto:sogokon@ukr.net">sogokon@ukr.net</a></p>
      <p>Соколовский А. К. - <a href="mailto:tm1@mail.ru">tm1@mail.ru</a></p>
      <p>Суслов Дмитрий Юрьевич - <a href="mailto:lubcon@regult.ru">lubcon@regult.ru</a></p>
      <p>Тайкало Вдадимир Иванович - <a href="mailto:vtaykalo@gmail.com">vtaykalo@gmail.com</a></p>
      <p>Тельнов Виктор - <a href="mailto:tvist1960@mail.ru">tvist1960@mail.ru</a></p>
      <p>Терешин А. - <a href="mailto:tav@nwfc.ru">tav@nwfc.ru</a></p>
      <p>Черных Никита - <a href="mailto:nic-cher@yanex.ru">nic-cher@yandex.ru</a></p>
      </h5>
    </div>
  </div>
</div>