<div class="main-nav">
  <div class="img-div">
    <a [routerLink]="'/'"><img src="assets/img/header.png" class="img-fluid main-img mx-auto d-block image"></a>
    <img src="assets/img/back-header2.png" class="img-fluid mx-auto d-block image back-img">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 2000 !important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav nav nav-pills nav-fill">
      <li class="nav-item">
        <a 
          class="nav-link" 
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >ГЛАВНАЯ</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link" 
          [routerLink]="'/gallery'"
          routerLinkActive="active"
          >ФОТОГАЛЕРЕЯ</a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link" 
          [routerLink]="'/guestbook'"
          routerLinkActive="active"
          >ГОСТЕВАЯ КНИГА</a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link" 
          [routerLink]="'/club'"
          routerLinkActive="active"
          >РОО "КЛУБ ВЕТЕРАНОВ МКФ"</a>
      </li>
      <li class="nav-item">        
        <a 
          class="nav-link" 
          [routerLink]="'/contacts'"
          routerLinkActive="active"
          >КОНТАКТЫ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">МЕНЮ</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Объявления</a>
          <a class="dropdown-item" href="#">Дни рождения</a>
          <a class="dropdown-item" href="#">История флота</a>
          <a class="dropdown-item" [routerLink]="['/boats_desc',1]" routerLinkActive="active" >Суда</a>
          <a class="dropdown-item" [routerLink]="'/peoples'" routerLinkActive="active">Люди</a>
          <a class="dropdown-item" href="#">Память о наших товарищах</a>
          <a class="dropdown-item" href="#">Музей МКФ</a>
          <a class="dropdown-item" href="#">Творчество</a>
          <a class="dropdown-item" href="#">Разное</a>
        </div>
      </li>
    </ul>
  </div>
</nav>