<h2 class="display-4 ml-3">Новости</h2> 
<div (scroll)="scrollHandler($event)">
	<div *ngFor="let object of ArrofObjects" class="card mb-3">
		<div class="row no-gutters">
			<div class="col-md-3">
				<img src="{{object.image_link}}" class="card-img">
		  	</div>
		  	<div class="col-md-9">
				<div class="card-body">
				  	<h5 class="card-title">{{object.title}}</h5>
				  	<div><div class="card-text" [innerHTML]="object.description"></div><a  class="" [routerLink]="['/full_news', object.title]" routerLinkActive="active">Подробнее</a></div>
			  		<p class="card-text"><small class="text-muted">Добавлено {{object.publication_date}}</small></p>
				</div>
			</div>
		</div>
	</div>
</div>