/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}
.content {
    flex-grow: 1;
}
.content, .header, .footer {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
}
.header, .footer {
	background: #008080;
	color: #ffffff;
}
.content p {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.8;
}